*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.main--container{
    height: 100vh;
    margin: 30px 0px;
}

.main-container{
    width: 50%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

nav{
    text-align: center;
    padding: 15px;
    background-color: #F55A5A;
    color: white;
    border-radius: 10px 10px 0px 0;
}
a{
    color: gray;
    text-transform: uppercase;
    font-size: small;
}

.cards-list{
    padding: 30px 0px;
}

.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 40px;
}

.card--image{
    width: 30%;
    border-radius: 10px;
}

.card--stats{
    width: 60%;
}

.card--title{
    padding: 10px 0 5px 0;
}
.card--date{
    color: #F55A5A;
    font-weight: 600;
    line-height: 30px;
    font-size: large;
}
.card--desc{
    line-height: 22px;
}
hr{
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 1024px){
    .main-container{
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .main--container{
        margin: 0px;
    }
    .main-container{
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    nav{
        border-radius: 0px 0px 0px 0px;
    }
    .card--image{
        width: 100%;
        border-radius: 10px;
    }
    
    .card--stats{
        padding-top: 20px;
        width: 100%;
    }
}